/* Start Form Styles */


/* start reCAPTCHA styles */

       form>div {
            margin:1em;
        }
		
       /* writes to small text above reCAPTCHA upon failure */

        .dateFeedback{
			font-style:italic;
			font-size:70%;
			font-weight:bold;
			background-color: sandybrown;
      margin: 5px 0 10px 0;
		}

        input:required {
              border: 1px solid sandybrown;
              margin: 5px 0 10px 0;
              width: 75%;
        }

         input:optional, textarea:optional {
             background-color:#f1f1f1;
             border:1px solid sandybrown;
             margin: 5px 0 10px 0;
             width: 75%;
         }

        input[type="submit"], input[type="button"] {
          background-color: sandybrown;
          border-radius: 10px;
          border: solid 1px black;
          border-style: ridge;
          margin-top: 10px;
          width: 55px;
        }

        fieldset {
          border: 5px solid #6E8B3D;
          max-width: 50%;
          margin: 50px 0 25px 25px;
        }

        legend {
          margin-left: .5em;
          padding: .2em .5em;
        }
        
        /* end reCAPTCHA styles */
