/* START TABLE STYLES */

table.client {
    /* display: flex; */
    font-family: Arial, Helvetica, sans-serif;
    /* border-collapse: collapse; */
    border: 2px solid sandybrown;
    width: 100%;
}
  
table.client td {
    /* border: 1px solid #ddd; */
    padding: 8px;
}
table.client tr:nth-child(odd) {
    background-color: #6E8B3D;
}
table.client tr:nth-child(even) {
    background-color: lightslategray;
}
table.audience {
    /* display: flex; */
    /* justify-content: stretch; */
    font-family: Arial, Helvetica, sans-serif;
    /* border-collapse: collapse; */
    border: 2px solid sandybrown;
    width: 100%;
}
table.audience td {
    padding: 0 10px;
}
table.audience tr:nth-child(odd) {
    background-color: #6E8B3D;
}
table.audience tr:nth-child(even) {
    background-color: lightslategray;
}
table.audience li {
    margin-left: -25px;
}
